<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReports.ListenersImplementation"></listener>
    </listeners>

    <test name="Suite">
        <classes>
            <class name="loginTests.Tests"/>
        </classes>
    </test>
</suite>